

.ui.form .field .ui.input, .ui.form .fields .field .ui.input, .ui.form .wide.field .ui.input {
    width: 100%;
    display: inline;
}
#templateTable img{
	max-width:110px;
	
}
#templateTable span.detail{
	width: 100%;
	display: inline-block;
    text-align: center;
    margin: 6px 6px 0 6px;
}
ul li span.price{
	width: 100%;
	display: inline-block;
	text-align: left;
	font-size: 18px;
	color: red;
}
.h-box{
    height:46px;
    line-height: 46px;
    font-size: 1.3rem;
}
.already{
    text-align: center;
    text-align: -webkit-center;
    margin-left: 14%;
}